.button {
  display: block;
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  color: white;
  background-color: #212121;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.8rem;
  outline: none;
  line-height: 1;
  border: 0;
  cursor: pointer;
}
